


body {
    font-family: 'VT323', monospace;
    background-color: lightcoral;
    background-image:url("/images.eclipse.jpg");  

    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
}

div {
    font-size: 100%;
    text-align: center;
    color: lightcyan;
}

li {
    display: block;
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

a {
    color: lightpink
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
.forcesize {
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
